interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zxf-test/providers/Microsoft.Compute/virtualMachines/vm?$expand=instanceView&api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zxf-test/providers/Microsoft.Compute/virtualMachines/vm\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"vmId\": \"8e78087f-0177-42f3-99e4-34fcdfc58273\",\r\n
        \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n
        \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\":
        \"2019-Datacenter\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\":
        \"17763.1817.2103030313\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\":
        \"Windows\",\r\n        \"name\": \"vm_disk1_be9d47b2aba34c80ab92b799ccf3187b\",\r\n
        \       \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n
        \       \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n
        \         \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zxf-test/providers/Microsoft.Compute/disks/vm_disk1_be9d47b2aba34c80ab92b799ccf3187b\"\r\n
        \       },\r\n        \"diskSizeGB\": 127\r\n      },\r\n      \"dataDisks\":
        []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"vm\",\r\n
        \     \"adminUsername\": \"azureuser\",\r\n      \"windowsConfiguration\":
        {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\":
        true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"AutomaticByOS\"\r\n
        \       }\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\":
        true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\":
        {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zxf-test/providers/Microsoft.Network/networkInterfaces/vmVMNic\"}]},\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\": {\r\n      \"computerName\":
        \"vm\",\r\n      \"osName\": \"Windows Server 2019 Datacenter\",\r\n      \"osVersion\":
        \"Microsoft Windows NT 10.0.17763.0\",\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\":
        \"2.7.41491.1008\",\r\n        \"statuses\": [\r\n          {\r\n            \"code\":
        \"ProvisioningState/succeeded\",\r\n            \"level\": \"Info\",\r\n            \"displayStatus\":
        \"Ready\",\r\n            \"message\": \"GuestAgent is running and processing
        the extensions.\",\r\n            \"time\": \"2021-04-02T10:11:48+00:00\"\r\n
        \         }\r\n        ]\r\n      },\r\n      \"disks\": [\r\n        {\r\n
        \         \"name\": \"vm_disk1_be9d47b2aba34c80ab92b799ccf3187b\",\r\n          \"statuses\":
        [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2021-04-02T10:09:14.0055665+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\":
        \"V1\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2021-04-02T10:09:38.0211934+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n
        \       }\r\n      ]\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;3995,Microsoft.Compute/LowCostGet30Min;31994
    status:
      code: 200
      message: OK
- request:
    body: '{"maximumDuration": "PT4H", "rebootSetting": "IfRequired", "windowsParameters":
      {"classificationsToInclude": ["Critical", "Security"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zxf-test/providers/Microsoft.Compute/virtualMachines/vm/installPatches?api-version=2020-12-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/93322917-ca81-41c9-8af6-18fcf98fae70?api-version=2020-12-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/93322917-ca81-41c9-8af6-18fcf98fae70?monitor=true&api-version=2020-12-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PatchOperation3Min;189,Microsoft.Compute/PatchOperation30Min;599
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/93322917-ca81-41c9-8af6-18fcf98fae70?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2021-04-02T10:12:27.6463964+00:00\",\r\n  \"status\":
        \"InProgress\",\r\n  \"name\": \"93322917-ca81-41c9-8af6-18fcf98fae70\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14998,Microsoft.Compute/GetOperation30Min;29996
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/93322917-ca81-41c9-8af6-18fcf98fae70?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2021-04-02T10:12:27.6463964+00:00\",\r\n  \"endTime\":
        \"2021-04-02T10:17:41.1476391+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"properties\": {\r\n    \"output\": {\"status\":\"Succeeded\",\"installationActivityId\":\"93322917-ca81-41c9-8af6-18fcf98fae70\",\"rebootStatus\":\"NotNeeded\",\"maintenanceWindowExceeded\":false,\"excludedPatchCount\":0,\"notSelectedPatchCount\":6,\"pendingPatchCount\":0,\"installedPatchCount\":2,\"failedPatchCount\":0,\"patches\":[{\"patchId\":\"1abb2377-20ef-43ff-aabc-0de4711ab205\",\"name\":\"2020-10
        Security Update for Adobe Flash Player for Windows Server 2019 for x64-based
        Systems (KB4580325)\",\"kbId\":\"4580325\",\"classifications\":[\"Security\"],\"installationState\":\"Installed\",\"msrcSeverity\":\"Critical\"},{\"patchId\":\"33a64099-ba99-4e7f-a2d7-cf7d7fc4029f\",\"name\":\"Security
        Update for Windows Server 2019 for x64-based Systems (KB4535680)\",\"kbId\":\"4535680\",\"classifications\":[\"Security\"],\"installationState\":\"Installed\",\"msrcSeverity\":\"Important\"},{\"patchId\":\"e3b03a38-d82f-4c2c-8dfe-d69abca6a7be\",\"name\":\"2021-02
        Cumulative Update Preview for .NET Framework 3.5, 4.7.2 and 4.8 for Windows
        Server 2019 for x64 (KB4602298)\",\"kbId\":\"460[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/93322917-ca81-41c9-8af6-18fcf98fae70?monitor=true&api-version=2020-12-01
  response:
    body:
      string: '{"status":"Succeeded","installationActivityId":"93322917-ca81-41c9-8af6-18fcf98fae70","rebootStatus":"NotNeeded","maintenanceWindowExceeded":false,"excludedPatchCount":0,"notSelectedPatchCou[...]
